* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

/* Cabeçalho */

.cabecalho {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 152px;
  justify-content: space-between;
}

.cabecalho__pesquisa {
  background: #f5f5f5;
  border: none;
  border-radius: 20px;
  width: 393px;
  height: 40px;
  padding: 8px 16px;
  font-size: 1.1rem;
  opacity: 0.7;
  border: 1px solid #2a7ae4;
}

.cabecalho__pesquisa::placeholder {
  background: url(../images/Icone.svg) no-repeat;
  background-position: right center;
}

.cabecalho__botao {
  width: 182px;
  height: 51px;
  padding: 16px;
  border: 1px solid #2a7ae4;
  background: transparent;
  color: #2a7ae4;
  transition: 0.3s;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.cabecalho__botao:hover {
  background-color: #2a7ae4;
  color: white;
}

/* Banner */

.banner {
  background: url('../images/banner.png');
  width: 1440px;
  height: 352px;
}

.banner__texto-promo {
  color: white;
  margin-left: 152px;
}

.banner__texto-promo h1 {
  padding-top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 61px;
}

.banner__texto-promo p {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.banner__texto-promo a {
  display: block;
  padding: 16px;
  width: 130px;
  height: 51px;
  text-decoration: none;
  color: white;
  background: #2a7ae4;
  margin-top: 16px;
  margin-bottom: 32px;
  transition: 0.3s;
}

.banner__texto-promo a:hover {
  background-color: white;
  color: #2a7ae4;
  font-weight: 600;
}

/* Seção Star Wars */

