@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --azul: #2a7ae4;
  --azul-dois: #5595e9;
  --azul-claro: #d4e4fa;
  --cinza-escuro: #464646;
  --cinza: #a2a2a2;
  --cinza-claro: #c8c8c8;
  --branco: #ffffff;
  --bg-azul: #eaf2fd;
  --bg-cinza: #f5f5f5;
  --fonte-padrao: 'Raleway', sans-serif;
}

/* Geral */

html {
  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: var(--bg-cinza);
  font-family: var(--fonte-padrao);
}

.botao-primario {
  background-color: var(--azul);
  color: var(--branco);
  border: none;
  padding: 1rem;
}

.botao-secundario {
  background-color: var(--azul-dois);
}

.botao-secundario {
  background-color: var(--branco);
  color: var(--azul);
  padding: 0.8rem 3.2rem;
  border: 1px solid var(--azul);
}

.botao-secundario:hover {
  background-color: var(--azul-claro);
}

/* Header */

.cabecalho__container {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cabecalho__logo {
  width: 100px;
}

.cabecalho__pesquisa {
  display: none;
  background-color: var(--bg-cinza);
  border: none;
  border-radius: 20px;
  padding: 1rem;
  width: 40%;
  font-family: var(--fonte-padrao);
  /* font-size: 14px;
    font-weight: 400; */
  color: var(--cinza-escuro);
}

.cabecalho__pesquisa::placeholder {
  background: url('../images/search-placeholder.png') no-repeat right / 1.7rem;
  color: var(--cinza);
}

/* Banner */
